<nav class="root-navbar web navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-bar-inner-container">
    <a class="navbar-brand" href="#">Me'Me's Beer</a>
    <div class="right-options collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Favorites">Fav's</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar mobile navbar-light bg-light">
  <div class="nav-bar-inner-container">
    <a class="navbar-brand" href="#">Me'Me's Beer</a>
    <a class="navbar-brand" href="/Favorites">Fav's</a>
  </div>
</nav>